.header {
    background-image: url('/backend/assets/images/bg-header.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 7em;
    text-align: center;
}

.h1 {
    margin: 0;
    font-size: 2.5em;
}

.h2 {
    margin: 0;
    font-size: 3em;
}

.p {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .header {
        padding: 3em;

        .h1,
        .h2,
        .p {
            font-size: 1.5em;
        }
    }

}